*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
kbd{
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd>button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    font-size: 12px;
}
kbd:hover>button{
    display: inline-block;
}
main{
    text-align: center;
}
#mainxx{
    display: inline-block;
}
#mainxx>div:nth-child(2){
    margin-left: 2em;
}
#mainxx>div:nth-child(3){
    margin-left: 4em;
}

